
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;

}

.wrap {
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  width: 30%;
}

h1#sitename {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

.one {
    color: #FFD394;
}

.two {
	color: #C4D18B;
}

.three {
    color: #FF9CA8;
}

a, a :hover {
    background-color: transparent;
    text-decoration: none;
}

.flex-item {
    padding: .5em 5em;
}

canvas#icon1 {
    width: 2.5em;
}