<div ng-controller="MainController as mctrl">
    <form action="/usersignup" method="POST">
        <input type="text" name="username" placeholder="username" />
        <br>
        <input type="password" name="password" placeholder="password123" />
        <br>
        <input type="submit" value="submit" />
    </form>
    LOGIN
    {{mctrl.sessionID}}
    {{sessionID}}
    {{usernameLogged}}
    <form ng-submit="mctrl.userlogin(login)">
        <input type="text" ng-model="login.username" placeholder="username" />
        <br>
        <input type="password" ng-model="login.password" placeholder="password123" />
        <br>
        <input type="submit" value="submit" />
    </form>
</div>
