<div class="flex-container wrap">
    <div class="flex-item">
        <form ng-submit="mctrl.forecast(userLocation)">
            zipcode:
            <input type="text" ng-model="userLocation.zipcode">
            <br/>
            <button type="submit">submit</button>
        </form>
        <!-- {{mctrl.darksky.timezone}} -->
        <!-- <br/> -->
        {{mctrl.darksky.city}}
        <br/>
        <!-- <span am-time-ago="message.time"></span> -->
        <span>{{ mctrl.darksky.hourly.summary}}</span>
        <span am-time-ago="message.text"></span>
    </div>
    <div class="flex-item">
        <h1>Heys</h1>
    </div>
        <div class="flex-item">
        <h1>Heys</h1>
    </div>
        <div class="flex-item">
        <h1>Heys</h1>
    </div>
        <div class="flex-item">
        <h1>Heys</h1>
    </div>
</div>
