<div class="flex-container">
    <div class="flex-item">
<ui-select ng-model="selected.value">
    <ui-select-match>
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
        <span ng-bind="item.name"></span>
    </ui-select-choices>
</ui-select>

{{selected}}

        <form ng-submit="mctrl.forecast(userLocation)">
            <span id="whereu">where are you heading?</span>
            <br>
            <input type="text" ng-model="userLocation.zipcode">
            <br/>
            <button type="submit">submit</button>
        </form>
        {{mctrl.darksky.city}}
        <canvas id="icon1" width="64" height="64"></canvas>
        <br/>
        <span>{{ mctrl.darksky.hourly.summary}}</span>
        <span am-time-ago="message.text"></span>
    </div>
    <div class="flex-item">
        <h1>you chose:</h1>
    </div>
    <div class="flex-item">
        <h1>you might like:</h1>
    </div>
</div>
