<div class="flex-container">
    <div class="flex-item">
        <form name="myForm">
            <label for="repeatSelect"> What's today's outfit?</label>
            <br/>
            <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
                <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
        </form>
        <tt>model = {{data.model}}</tt>
        <br/>
        <form ng-submit="mctrl.forecast(userLocation)">
            <span id="whereu">where are you heading?</span>
            <br>
            <input type="text" ng-model="userLocation.zipcode">
            <br/>
            <button type="submit">submit</button>
        </form>
        {{mctrl.darksky.city}}
        <canvas id="icon1" width="64" height="64"></canvas>
        <br/>
        <span>{{ mctrl.darksky.hourly.summary}}</span>
        <span am-time-ago="message.text"></span>
    </div>
    <div class="flex-item">
        <h1>you chose:</h1>
    </div>
    <div class="flex-item">
        <h1>you might like:</h1>
    </div>
</div>
